<div id="page-wrapper">
    <div class="container-fluid" ng-app="webui-app" ng-controller="apiExplorerCtrl" ng-init="serverIsOffline='true'">
        <div class="row row-header banner4">
            <div class="col-lg-12 page-header">
                <h1 >
                    EMS is Offline. Please start the Evostream Media Server
                    <br>
                    and Refresh this Page.
                </h1>
            </div>
        </div>
    </div>
</div>