<div class="container full-width">
    <div class="row no-gutter">
        <div class="col-md-6">
            <div class="branding">
                <img class="center-block" src="images/logo.png" alt="EVO Stream Logo">
            </div>
            <form class="form-signin" action="/forgotpassword" name="forgotpassword" method="post" novalidate>
                <h4 class="form-signin-heading">Forgort Password</h4>
                <p>Please enter your email address</p>
                <label for="inputEmail" class="sr-only">Email address</label>
                <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
                <input type="email" id="email" name="email" ng-model="email" class="form-control" placeholder="Email address" value="{{input.email}}" required autofocus>
                <div class="welcomeError" ng-show="forgotpassword.email.$invalid && !forgotpassword.email.$pristine" ><span >Enter a valid email</span></div>
                {{#if error}}
                    <div style="color:red;">{{error}}</div>
                {{/if}}
                <button class="btn btn-lg btn-primary btn-block" ng-disabled="forgotpassword.$invalid"  type="submit">Reset Password</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="right-bg">
                <div class="r-content">
                    <h3>Welcome to the Web User Interface for the Evostream Media Server.</h3>
                    <p>This application leverages your use of the Evostream Media Server. Easily stream live video with a click of a button.</p>
                    <img class="img-responsive add-bottom" src="images/image.png" alt="EVO Main" />

                    <div class="row text-center">
                        <div class="col-sm-4">
                            <!--<img src="images/dashboard-icon.png" alt="EVO Dashboard" />-->
                            <h5>Admin Dashboard</h5>
                            <p>Monitor inbound and outbound streams. Check connection to EMS.</p>
                        </div>
                        <div class="col-sm-4">
                            <!--<img src="images/manage-icon.png" alt="EVO Manage Streams" />-->
                            <h5>Manage Stream</h5>
                            <p>View list of stream using the web interface. Create and Send Stream to Facebook Live or Youtube</p>
                        </div>
                        <div class="col-sm-4">
                            <!--<img src="images/api-icon.png" alt="EMS API Explorer" />-->
                            <h5>EMS API Explorer</h5>
                            <p>Tool to create, and authenticate API calls and debug responses. See methods available for each API and what parameters they support.</p>
                        </div>
                    </div>
                    <p class="text-center evo-tsp">Note: It is expected that you already have a basic functional knowledge of the EvoStream Media Server. Please read the EMS User Guide prior to working with the Web UI!</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->