<div class="container full-width">
    <div class="row no-gutter">
        <div class="col-md-6">
            <div class="branding">
                <img class="center-block" src="images/logo.png" alt="EVO Stream Logo">
            </div>
            <form class="form-signin" action="/resetpassword" name="resetpassword" method="post" novalidate>
                <h4 class="form-signin-heading">Reset Password</h4>
                <p>Please enter your new password</p>

                <label for="inputPassword" class="sr-only">New Password</label>
                <input type="password" id="rpassword" name="rpassword" ng-model="rpassword" autocomplete="off" class="form-control" placeholder="New Password" ng-minlength="5" ng-maxlength="20" required>
                <div class="welcomeError" ng-show="resetpassword.rpassword.$dirty && resetpassword.rpassword.$error.minlength" ><span >Password too short. Minimum of 5 characters</span></div>
                <div class="welcomeError" ng-show="resetpassword.rpassword.$dirty && resetpassword.rpassword.$error.required" ><span >Password required.</span></div>

                <!--<span >welcome.password.$dirty {[{welcome.password.$dirty}]}</span>-->
                <!--<br>-->
                <!--<span >welcome.password.$error.minlength {[{welcome.password.$error.minlength}]}</span>-->

                <label for="inputConfirmPassword" class="sr-only">Confirm New Password</label>
                <input type="password" id="rconfirmPassword" name="rconfirmPassword" ng-model="rconfirmPassword" autocomplete="off" required class="form-control" placeholder="Confirm New Password"
                       ng-minlength="5" ng-maxlength="20" password-check="rpassword">
                <div class="welcomeError" ng-show="resetpassword.rconfirmPassword.$error.passwordMatch" ><span >Passwords do not match</span></div>
                <div class="welcomeError" ng-show="resetpassword.rconfirmPassword.$dirty && resetpassword.rconfirmPassword.$error.required" ><span >Confirm New Password required.</span></div>

                <input type="hidden" name="token" value="{{token}}">

                {{#if error}}
                    <div style="color:red;">{{error}}</div>
                {{/if}}
                <button class="btn btn-lg btn-primary btn-block" ng-disabled="resetpassword.$invalid"  type="submit">Save New Password</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="right-bg">
                <div class="r-content">
                    <h3>Welcome to the Web User Interface for the Evostream Media Server.</h3>
                    <p>This application leverages your use of the Evostream Media Server. Easily stream live video with a click of a button.</p>
                    <img class="img-responsive add-bottom" src="images/image.png" alt="EVO Main" />

                    <div class="row text-center">
                        <div class="col-sm-4">
                            <!--<img src="images/dashboard-icon.png" alt="EVO Dashboard" />-->
                            <h5>Admin Dashboard</h5>
                            <p>Monitor inbound and outbound streams. Check connection to EMS.</p>
                        </div>
                        <div class="col-sm-4">
                            <!--<img src="images/manage-icon.png" alt="EVO Manage Streams" />-->
                            <h5>Manage Stream</h5>
                            <p>View list of stream using the web interface. Create and Send Stream to Facebook Live or Youtube</p>
                        </div>
                        <div class="col-sm-4">
                            <!--<img src="images/api-icon.png" alt="EMS API Explorer" />-->
                            <h5>EMS API Explorer</h5>
                            <p>Tool to create, and authenticate API calls and debug responses. See methods available for each API and what parameters they support.</p>
                        </div>
                    </div>
                    <p class="text-center evo-tsp">Note: It is expected that you already have a basic functional knowledge of the EvoStream Media Server. Please read the EMS User Guide prior to working with the Web UI!</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->