<div class="container full-width">
    <div class="row no-gutter">
        <div class="col-md-6">
            <div class="branding">
                <img class="center-block" src="images/logo.png" alt="EVO Stream Logo">
            </div>
            <div class="conf-success">
                <h4 class="form-signin-heading">Account Password Updated</h4>
                <img class="center-block evo-spacing" src="images/check-icon.svg" width="200" height="150">
                <p class="success-text">Your account password has been updated!<br>Let's get started!</p>
                <a class="btn btn-lg btn-primary btn-block" href="/dashboard">Go to my Dashboard</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="right-bg">
                <div class="r-content">
                    <h3>Welcome to the Web User Interface for the Evostream Media Server.</h3>
                    <p>This application leverages your use of the Evostream Media Server. Easily stream live video with
                        a click of a button.</p>
                    <img class="img-responsive add-bottom" src="images/image.png" alt="EVO Main"/>

                    <div class="row text-center">
                        <div class="col-sm-4">
                            <!--<img src="images/dashboard-icon.png" alt="EVO Dashboard" />-->
                            <h5>Admin Dashboard</h5>
                            <p>Monitor inbound and outbound streams. Check connection to EMS.</p>
                        </div>
                        <div class="col-sm-4">
                            <!--<img src="images/manage-icon.png" alt="EVO Manage Streams" />-->
                            <h5>Manage Stream</h5>
                            <p>View list of stream using the web interface. Create and Send Stream to Facebook Live or
                                Youtube</p>
                        </div>
                        <div class="col-sm-4">
                            <!--<img src="images/api-icon.png" alt="EMS API Explorer" />-->
                            <h5>EMS API Explorer</h5>
                            <p>Tool to create, and authenticate API calls and debug responses. See methods available for
                                each API and what parameters they support.</p>
                        </div>
                    </div>
                    <p class="text-center evo-tsp">Note: It is expected that you already have a basic functional
                        knowledge of the EvoStream Media Server. Please read the EMS User Guide prior to working with
                        the Web UI!</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->