<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Stream</h4>
    </div>
    <div class="modal-body">
        <!--<p>Delete stream with config id - {[{deleteConfigId}]} in the list?</p>-->
        <p>Delete {[{deleteMessage}]} in the list?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-clear" ng-click="cancel()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-evo" ng-click="delete()" data-dismiss="modal">Delete</button>
    </div>
</div>