<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Error in Sending Stream</h4>
    </div>
    <div class="modal-body">
        <p>Something went wrong. Please enter valid parameters for Adding a Stream</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-clear" ng-click="ok()" data-dismiss="modal">Ok</button>
    </div>
</div>